html
    head
        //-  Compiled and minified CSS 
        link(rel='stylesheet' href='app.css')
        //-  Google Fonts 
        link(href='https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display|Arimo|Open+Sans:300i|Amatic+SC|Roboto|Bungee|Dancing+Script|Hind|Indie+Flower|Itim|Lobster|Quicksand|Shadows+Into+Light' rel='stylesheet')
        //-  Google Icons 
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        link(href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet')
        //- Favicon
        link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
        //- Meta
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    body
        section#main-container
        footer.page-footer
        .container
            .row
            .col.l6.s12
                h5.sgn.white-text Spirit Growth Network
                |                         
                p.parrafov.grey-text.text-lighten-4
                | «22 No se contenten solo con escuchar la palabra, pues así se engañan ustedes mismos. Llévenla a la práctica. 23 El que escucha
                | la palabra, pero no la pone en práctica es como el que se mira el rostro en un espejo 24 y, después de mirarse, se va y se
                | olvida en seguida de cómo es. 25 Pero quien se fija atentamente en la ley perfecta que da libertad, y persevera en ella,
                | no olvidando lo que ha oído, sino haciéndolo, recibirá bendición al practicarla».
                |                         
                p.cita.grey-text.text-lighten-4 -Santiago 1:22-25
            |                     
            .col.l4.offset-l2.s12
                h5.white-text Contacto
                |                         
                section
                .social-share.fb
                    span.fb-inner
                    |                                 
                    a.cta.fb(href='#') Like
                |                             
                .social-share.tw
                    span.tw-inner
                    |                                 
                    a.cta.tw(href='#') Tweet
        |             
        .footer-copyright
            .container
            p.left © 2018 Copyright Spirit Growth Network
            |                     
            p.love.right
                | Made with 
                i.icon.ion-heart
                |  in Colombia
    // Jquery
    script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
    script(type='application/javascript' src='app.js')
    